<div class="row">
	<div class="span2">
    	<h2>Orders</h2>
    </div>
</div>

<% Project.where(:hide_dashboards => false).each do |project| %>
	<div class="well">
    	<li>
			<h4>
				<%=link_to "#{project.name} - Orders", open_orders_project_path(project)%>
    	  	</h4>
		</li>
    	<li>
			<h4>
				<%=link_to "#{project.name} - Order totals and statistics", stats_orders_project_path(project)%>
    		</h4>
		</li>
	</div>
<% end %>
