<div class="row">
    <div class="span2">
      <h2>Projects</h2>
    </div>
    <% if current_user.can_administer? %>
      <div class="pull-right" style="margin-top: 20px;">
		  <%=link_to "#{fa_icon('file fw')} New Project".html_safe, new_project_path, :class=>"btn btn-success btn-small"%>
      </div>
    <% end %>
</div>
<div class="well">
  <% Project.all.each do |project| %>
  	<li>
		<h4><%=link_to project.name, project%></h4>
	</li>
  <% end %>
</div>